.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cloud-sky {
  background-image: url("../src/images/cloud-sky.jpg");
  /* animation: bacground-scroll infinite 60s linear; */
}

.sunny-sky {
  background-image: url("../src/images/sun-sky.jpg");
  /* animation: bacground-scroll infinite 20s linear; */
}

.snow-sky {
  background-image: url("../src/images/snow-sky.jpg");
}

.smoke-sky {
  background-image: url("../src/images/smoke-sky.jpg");
}

.rain-sky {
  background-image: url("../src/images/rain-sky.jpg");
}

.drizzle-sky {
  background-image: url("../src/images/drizle-sky.jpg");
}

.thunder-sky {
  background-image: url("../src/images/thunder-sky.jpg");
}

@keyframes bacground-scroll {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 1400px;
  }
}